.inferior {
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: dotted;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #66CC99;
	border-right-color: #66CC99;
	border-bottom-color: #66CC99;
	border-left-color: #66CC99;

}
.derecha {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: dotted;
}

.todo {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: none;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
}

.lado {
	text-align: right;
	border-top-width: none;
	border-right-width: 1px;
	border-bottom-width: none;
	border-left-width: none;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
}


.izquierda {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
}

.doble {
	border: 1px doble #000000;
}
