BODY {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #336699; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffcc
}
TD {
	FONT-SIZE: 9px; COLOR: #333333; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TH {
	FONT-SIZE: 10px; COLOR: #333333; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A {
	FONT-SIZE: 12px; COLOR: #336600
}
FORM {
	BACKGROUND-COLOR: #cccc99
}
.title {
	FONT-SIZE: 18px; COLOR: #003333; LINE-HEIGHT: 20px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #99cc00
}
.subtitle {
	FONT-SIZE: 16px; COLOR: #003300; LINE-HEIGHT: 30px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.header {
	FONT-SIZE: 20px; COLOR: #ffff33; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #669900
}
.nav {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ccff99
}
.navLink {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dedeca
}
.sidebar {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 10px; PADDING-BOTTOM: 3px; COLOR: #003333; LINE-HEIGHT: 14px; PADDING-TOP: 3px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffcc
}
.sidebarHeader {
	FONT-SIZE: 14px; COLOR: #003300; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffff66
}
.sidebarFooter {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffff99
}
.footer {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #333333; LINE-HEIGHT: 22px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ccff99
}
.legal {
	FONT-SIZE: 9px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.box1 {
	BORDER-RIGHT: #003300 thin double; BORDER-TOP: #99ff99 thin double; BORDER-LEFT: #99ff99 thin double; BORDER-BOTTOM: #003300 thin double
}
.promo {
	COLOR: #000033; FONT-FAMILY: "Times New Roman", Times, serif
}
.titlebar {
	FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: "Times New Roman", Times, serif; BACKGROUND-COLOR: #336699
}
.dingbat {
	FONT-WEIGHT: bolder; FONT-SIZE: medium; COLOR: #660000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
FORM {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
INPUT {
	FONT-SIZE: 9px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
TEXTAREA {
	FONT-SIZE: 9px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
SELECT {
	FONT-SIZE: 9px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
INPUT.big {
	WIDTH: 100px
}
INPUT.small {
	WIDTH: 50px
}
